/* HEADER MENU */
.nav-left-side li:nth-child(4) a {
  border-bottom: 6px solid var(--starbucks-logo-color);
}
/* MAIN */
/* TITLE */
main .title-container {
  background: #f2efed;
  padding: 15px 5% 21px;
}
h1 {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 14px;
  color: #32312d;
}
/* CONTENT CONTAINER */
.content-container {
  display: flex;
}
/* ASIDE */
aside {
  flex-basis: 40%;
  background: #1f3a33;
  height: auto;
  position: relative;
}
aside .aside-logo-container {
  position: fixed;
  bottom: 50%;
  left: 20%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aside-logo-container img {
  width: 8vw;
}
.aside-logo-container p {
  text-align: center;
  color: white;
  font-size: 2vw;
  font-weight: bolder;
}
.aside-text-container {
  position: fixed;
  background: linear-gradient(to top, #070c0be3 0% 30%, #1f3a33);
  bottom: 0%;
  width: 40%;
  padding: 5.5%;
  height: 20%;
}
.aside-text-container p {
  font-size: 27px;
  color: white;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 3px;
}
/* SECTION */
section {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  padding-bottom: 150px;
}
.video-section-container {
  padding: 110px 15% 70px;
}
.video-section-container h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 35px;
  color: #33433d;
  margin-bottom: 35px;
}
.text-banner {
  padding: 28px 15% 70px;
  background-color: #33433d;
  color: white;
}
.text-banner h2 {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: white;
}
.text-banner p {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}
.topic {
  padding: 65px 15% 0px;
}
.flex {
  padding: 0px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.topic img {
  width: 800px;
  max-width: 100%;
  size-adjust: 800/390;
  margin-bottom: 65px;
}
.img-container {
  position: relative;
}
.img-container::after {
  content: '';
  position: absolute;
  height: 60px;
  width: 5px;
  background: #004f34;
  bottom: 40px;
  left: 50%;
}
h3 {
  font-size: 16px;
  line-height: 20px;
  color: #006c49;
  font-weight: 700;
  margin-bottom: 15px;
}
.socialImpact-paragraph {
  font-size: 16px;
  line-height: 24px;
  color: #33433d;
  font-weight: 400;
  margin-bottom: 30px;
}
.btn {
  text-decoration: none;
  color: white;
  background: #008248;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  border: none;
  outline: none;
}

@media (max-width: 995px) {
  .content-container {
    display: flex;
    flex-direction: column;
  }
  aside {
    flex-basis: 100%;
    background: #1f3a33;
    min-height: 35vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    gap: 50px;
  }
  aside .aside-logo-container {
    flex: 1;
    position: static;
    transform: translate(0%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  aside .aside-logo-container img {
    width: clamp(120px, 10vh, 100%);
    max-width: 100%;
  }
  aside .aside-logo-container p {
    text-align: center;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bolder;
  }
  .aside-text-container {
    position: static;
    background: linear-gradient(to top, #070c0be3 0% 5%, #1f3a33);
    width: 100%;
    margin: 0;
    height: 10vh;
    padding-bottom: 50px;
  }
  .aside-text-container p {
    font-size: 27px;
    color: white;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 3px;
  }
  section {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding-bottom: 150px;
  }
  h2 {
    font-size: 24px;
    line-height: 26px;
    color: #33433d;
    font-weight: 400;
  }
  .video-section-container {
    padding: 110px 5% 70px;
  }
  .text-banner {
    padding: 28px 5% 70px;
  }
  .topic {
    padding: 65px 5% 0px;
  }
}
@media (max-width: 770px) {
  .nav-left-side li:nth-child(4) a {
    border: none;
  }
  .flex {
    padding: 0px 12%;
  }
}
