* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SoDo Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
:root {
  --background-section-color: #d4e9e2;
  --text-color: #1e3932;
  --footer-title-text: #000000;
  --starbucks-logo-color: #008248;
}

/* img {
  max-width: 100%;
} */
/* 
==========
  HEADER
==========
 */
body {
  position: relative;
}
/* SCROLLBAR */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #e5e5e5;
}
::-webkit-scrollbar-thumb {
  background: #33433d;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 40px 24px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.06),
    0 0 2px rgba(0, 0, 0, 0.07);
  z-index: 10;
  position: relative;
}
.nav-bar {
  display: flex;
  margin-left: 5px;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

#logo img {
  width: 51px;
  margin-right: 30px;
  margin-bottom: -4px;
}
.menu-icon {
  color: black;
  margin-right: 29px;
  font-size: 16px;
  transform: scaleX(1.3);
  display: none;
}

.nav-left-side {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: -6px;
  line-height: 35px;
  text-transform: uppercase;
  color: #32312d;
}

.nav-left-side a {
  margin: 0px 5px;
  color: #32312d;
  text-decoration: none;
  font-size: 13px;
  line-height: 0px;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  white-space: nowrap;
}
.nav-left-side a:hover {
  color: var(--starbucks-logo-color);
}
.nav-left-side:first-child {
  margin-left: 0;
}
.nav-left-side ul:last-child {
  margin-right: 0;
}
/* -----NAV RIGHT SIDE----- */
.nav-right-side {
  display: flex;
  align-items: center;
  gap: 17px;
  margin-right: 0px;
}
.nav-right-side a {
  color: #32312d;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.15px;
}
.nav-right-side a:first-child {
  margin-left: 0;
}
#starbucks-latin-america-stories img {
  width: 120px;
}
#location-icon-mobile {
  display: none;
}

#location-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  letter-spacing: 0px;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.87);
}
#location-icon img {
  width: 19px;
  color: black;
}
#btn-login {
  padding: 6px 16px 8px;
  border: 1px solid #212121;
  color: #212121;
  border-radius: 40px;
  transition: all 0.3s;
}
#btn-login:hover {
  transform: scale(0.9);
  box-shadow: 0px 5px 5px -4px rgba(0, 0, 0, 0.65);
  background: rgba(0, 0, 0, 0.05);
}
#btn-join {
  background: #212121;
  color: #fff;
  padding: 6px 16px 8px;
  /* border: 1px solid #212121; */
  border-radius: 40px;
  white-space: nowrap;
  transition: all 0.3s;
  letter-spacing: -0.005rem;
}
#btn-join:hover {
  transform: scale(0.9);
  box-shadow: 0px 5px 5px -4px rgba(0, 0, 0, 0.65);
}
/* 
===============
  Hero Section
===============
 */
.hero,
.container {
  margin: 0 auto;
  width: 1440px;
  max-width: 100%;
  margin-bottom: 32px;
}

.slider {
  display: flex;
  overflow: hidden;
  position: relative;
}
#arrow-left {
  background-color: #fff;
  position: absolute;
  padding: 9px;
  border-radius: 30px;
  border: none;
  display: flex;
  align-items: center;
  left: 1%;
  top: 45%;
  z-index: 1;
  box-shadow: 0 0 6px rgb(0 0 0 / 24%), 0 8px 12px rgb(0 0 0 / 14%);
  cursor: pointer;
  transition: 0.2s;
}
#arrow-left:hover {
  background-color: rgba(255, 255, 255, 0.9);
  top: 45.5%;
  left: 1.1%;
}
#arrow-left img {
  opacity: 50%;
  width: 22px;
}
#arrow-right {
  background-color: #fff;
  position: absolute;
  padding: 9px;
  border-radius: 30px;
  border: none;
  display: flex;
  align-items: center;
  right: 1%;
  top: 45%;
  z-index: 1;
  box-shadow: 0 0 6px rgb(0 0 0 / 24%), 0 8px 12px rgb(0 0 0 / 14%);
  cursor: pointer;
}
#arrow-right:hover {
  background-color: rgba(255, 255, 255, 0.9);
  top: 45.5%;
  right: 0.9%;
}
#arrow-right img {
  opacity: 50%;
  width: 22px;
  transform: rotateZ(180deg);
}
.image-selector-container {
  position: absolute;
  display: flex;
  gap: 8px;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.image-selector {
  background: rgba(0, 0, 0, 0.5);
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.image-selected {
  background: rgba(255, 255, 255, 0.5);
}
#slide {
  display: flex;
  width: 1440px;
  max-width: 100%;
}

.slide-img {
  /* border: 1px solid red; */
  display: flex;
  width: 1440px;
  max-width: 100%;
  object-fit: cover;
}
.slide-img img,
.slide-img source {
  width: 1440px;
  max-width: 100%;
  object-fit: cover;
}
/* 
==========
  MISSÃO
==========
*/
.mission {
  background: var(--background-section-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px clamp(60px, 20%, 300px) 32px;
}
.mission p {
  font-size: 18px;
  line-height: 32px;
  color: var(--text-color);
  font-weight: 400;
  margin-bottom: 34px;
  text-align: center;
}
.btn {
  text-decoration: none;
  padding: 5px 18px 7px;
  border-radius: 35px;
  border: 1px solid var(--text-color);
  font-size: 14px;
  line-height: 17px;
  color: var(--text-color);
  font-weight: 600;
}
.btn:hover {
  transform: scale(0.92);
  background: rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
/* 
===============
  APP SECTION
===============
 */
.container {
  background: var(--background-section-color);
  color: var(--text-color);
}
.flex {
  display: flex;
}
.app-section {
  display: flex;
}

.section-img-container {
  width: 50%;
  aspect-ratio: 72/42;
  /* border: 1px solid red; */
  background-image: url('./assets/app-section-img.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.section-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 7%;
}
.section-text-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
}
.section-text-body {
  margin: 30px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
/* 
=================
  DRINK-SECTION
=================
 */
.drink-section .section-img-container {
  background-image: url('./assets/drink-section-img.png');
}
.section-text-body span {
  font-weight: bold;
}
/* 
=========================
  SOCIAL-IMPACT-SECTION
=========================
 */
.social-impact-section .section-img-container {
  background-image: url('./assets/social-impact-img.png');
  aspect-ratio: 72/48;
}
/* 
=================
  NEWS-SECTION
=================
 */
.news-section .section-img-container {
  background-image: url('./assets/news-section-img.png');
  aspect-ratio: 72/48;
}
/* 
==========
  FOOTER
==========
 */
footer {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.7), 0 2px 8px 0 rgba(0, 0, 0, 0.5),
    0 1px 5px 0 rgba(0, 0, 0, 0.1);
  padding: 45px 40px 45px 140px;
}
.footer-nav {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 60px;
}
.footer-nav .col {
  width: 183px;
}
.footer-nav .col h1 {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: var(--footer-title-text);
  margin-bottom: 30px;
}
.footer-nav .col ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer-nav .col a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 0px;
  color: rgba(0, 0, 0, 0.57);
}
.footer-nav .col a:hover {
  color: rgba(0, 0, 0, 0.97);
}
.footer-nav img {
  width: 120px;
  display: block;
  cursor: pointer;
}
.footer-section {
  border-top: 2px solid #e0dcdc;
}

.social-links {
  display: flex;
  gap: 15px;
  list-style: none;
  margin-top: 55px;
  margin-left: 5px;
}
.social-links img {
  width: 32px;
}
.social-links img:hover {
  transform: scale(1.2);
  opacity: 0.8;
}
.policy {
  margin-top: 35px;
  margin-bottom: 45px;
  display: flex;
  gap: 15px;
  list-style: none;
}
.policy li a {
  color: var(--footer-title-text);
  font-size: 15px;
  font-weight: 400;
  padding-right: 15px;
  text-decoration: none;
}
.policy li a {
  border-right: 1px solid black;
}
.policy li a:hover {
  opacity: 0.8;
}
#ultimo a {
  border-right: none;
}
.footer-section h4 {
  font-size: 15px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.56);
  margin-bottom: 30px;
}

/* 
==============
  RESPONSIVE
==============
 */

@media screen and (max-width: 1130px) {
  #btn-join {
    display: none;
  }
  header {
    padding: 23px 25px;
  }
}
@media (max-width: 995px) {
  header {
    padding: 15px 12px 18px;
  }
  #logo img {
    margin-right: 15px;
  }
  .nav-left-side ul {
    gap: 6px;
  }
  footer {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.7), 0 2px 8px 0 rgba(0, 0, 0, 0.5),
      0 1px 5px 0 rgba(0, 0, 0, 0.1);
    padding: 30px 15px 45px 15px;
  }
}
@media screen and (max-width: 885px) {
  #btn-login {
    display: none;
  }
}
@media screen and (max-width: 780px) {
  #location-icon {
    display: none;
  }
}
@media screen and (max-width: 770px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 12px 12px;
  }
  #logo {
    padding: 6px 5px 0px;
  }
  .nav-mobile-flex {
    display: flex;
  }
  .site-black-opacity-mobile-menu {
    /* content: ''; */
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .nav-bar {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    align-items: flex-start;
    background: white;
    z-index: 5;
  }
  .nav-hide {
    display: flex;
  }
  .nav-left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
    margin-bottom: 10px;
    width: 100%;
    padding-top: 5px;
  }
  .nav-left-side li {
    width: 100%;
    padding: 5px 0px 7px 32px;
  }
  .nav-left-side li a {
    font-weight: bold;
    margin: 0;
  }
  .nav-left-side li:hover {
    background: rgba(216, 212, 212, 0.45);
  }
  .nav-left-side li a {
    font-size: 14px;
    font-weight: 450;
    text-transform: capitalize;
    color: #32312d;
    letter-spacing: 0px;
  }
  .nav-left-side a:hover {
    color: #32312d;
  }
  .nav-right-side {
    flex-direction: column;
    align-items: flex-start;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    gap: 10px;
    margin: 0;
  }
  #logo img {
    width: 40px;
  }
  #starbucks-latin-america-stories {
    display: flex;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 13px;
  }
  #starbucks-latin-america-stories:hover {
    background: rgba(216, 212, 212, 0.45);
  }
  #starbucks-latin-america-stories img {
    margin: 0px auto;
    width: 120px;
  }
  #location-icon-mobile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 13px 0px 13px 33px;
    letter-spacing: -0.035rem;
    margin-top: 1px;
  }
  #location-icon-mobile:hover {
    background: rgba(216, 212, 212, 0.45);
  }
  #location-icon-mobile img {
    width: 20px;
    margin-right: 12px;
  }
  #btn-login {
    margin: 0 15px;
    display: flex;
    justify-content: center;
    width: 270px;
    padding: 15px 0px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 15px;
    font-weight: 400;
  }
  #btn-join {
    margin: 0 15px;
    display: flex;
    justify-content: center;
    width: 270px;
    padding: 15px 0px;
    font-weight: 400;
    font-size: 0.915rem;
  }
  .menu-icon {
    display: block;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    z-index: -1;
  }

  /* 
  Image Slider

   */
  #arrow-left,
  #arrow-right {
    display: none;
  }
  #slide {
    display: flex;
    height: auto;
  }

  .slide-img {
    display: flex;
    width: 100%;
    aspect-ratio: 1.7;
  }
  .slide-img img,
  .slide-img source {
    width: 770px;
    max-width: 100%;
    object-fit: cover;
  }
  /* 
  MISSÃO

   */

  .mission p {
    font-size: 14px;
    line-height: 22px;
  }
  /* 
  APP SECTION
   */
  .app-section,
  .flex {
    flex-direction: column;
  }
  .flex-inverted {
    flex-direction: column-reverse;
  }
  .section-img-container,
  .section-text {
    width: 100%;
  }
  .section-text-body {
    font-size: 14px;
    padding: 0 5%;
    line-height: 25px;
  }
  /* FOOTER NAV */
  .footer-nav {
    flex-direction: column;
    gap: 0px;
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 0 10px;
    width: 100%;
  }
  .invisible {
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    -webkit-transition: max-height 0.6s ease-in-out;
    transition: max-height 0.6s ease-in-out;
    max-height: 0px;
    gap: 0px;
  }
  .visible {
    max-height: 10000px;
  }
  .invisible li {
    padding: 0.6rem 0;
    margin: 0;
    line-height: 0;
  }
  .invisible li:first-child {
    padding-top: 25px;
  }
  .invisible li:last-child {
    padding-bottom: 21px;
  }
  .rotate {
    transform: rotateX(180deg);
    transition: transform 0.6s ease-in-out;
  }
  #lista-teste {
    display: flex;
    flex-direction: column;
  }
  .footer-nav .col {
    width: 100%;
  }
  .footer-nav .col .title-container {
    display: flex;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .footer-nav .col h1 {
    font-size: 17px;
    line-height: 1;
    margin: 0;
    padding: 1.2rem 0px;
  }
  .footer-nav .col i {
    transition: all 0.4s;
    font-size: 14px;
  }

  footer #starbucks-latin-america-stories {
    display: flex;
    margin: 0;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.6rem 0 0.4rem;
  }
  footer #starbucks-latin-america-stories img {
    margin: 0;
  }
  footer .policy {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 60px;
  }
  .policy li a {
    border: none;
  }
  .footer-section h4 {
    margin-bottom: 17px;
  }
}
